#编译目录与IDE配置文件
/.externalToolBuilders
/.vscode
/.springBeans
/target
/bin
/.settings/
/logs
.project
.classpath
/src/main/resources/public/node_modules
/src/main/resources/public/src/javascript
/src/main/resources/public/template
/src/main/resources/public/dist